.dark
{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}


a{
    text-decoration: none;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
}
.navbar
{    display: flex;
    background-color: white;
    height :67px;
    justify-content: space-evenly;
    
}
#placeholder 
{
    width :453px ;
    height: 40px;
    border: 0;
    font-size: 17px;
    background-color: transparent;

}
.flipkart-icon
{
    height: 50px;
    width: 69px;
    background-image : url("flipkart.png");
    background-size:cover;
}
#navbar-login
{
    border: 0%;
    text-decoration: none;
}

.tophero
{   display: flex;
    background-color: white;
    justify-content: space-evenly;
    height: 150px;
    background-size: cover;
    align-items:center;
    align-content: start;
    text-decoration: none;
    font-size: 14px;
    text-decoration-color: black;
    margin-top: 16px;
    padding: 16px , 16px , 16px , 24pxS;
    
}

.topbox2
{
    background-size: cover;
    width: 64px;
}
.topbox{
    width: 64px;
    height: 64px;
    background-color: white;
}
.topbox3
{
    width: 64px;
}
/* CROUSAL ADS STARTS*/ 
.adhero{
    height: 300px;
    position:relative;
    width: 100%;
    max-width:949px;
    border-radius: 5px; 
    overflow:hidden;
}
.ads
{
    display: flex;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
.ads img{
    flex: 0 0 100%;
    height: 300px;
    object-fit: cover;
}
#prev, #next
{
    position: fixed;
    top: 50%;
    transform:translateY(-50%);
    border: 50px, black;
    font-weight: bold;
    padding: 10px;
}
#prev
{
    left: 10px;
}
#next
{
    right: 5px;
}
/* CAROUSAL ENDS
SEPRATES PARTS BEGINS */