*
{
    margin: 0;
    padding: 0;
}
body 
{
    display: flex;
    align-items: center;
    background-color: rgb(18, 6, 106);
    flex-direction:column;
}
/* BODY STYLING STARTS */
.title h1
{
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    color: rgb(249, 249, 249);
    text-align: center;
}
.image
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5vh;

}
.image img{
    height: 25vh;
    min-width: 75vb;
    object-fit:cover;
    /* position: relative; */
}

/* Main Game Body Starts */

.container 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin: 30px;
   
}
.container img{

    /* justify-content: center;
    align-items: center; */
    gap: 50px;
    height:170px;
    width:auto;
    border-radius:10px;
}
.container img:hover{
    border: 10px solid black ;
    transform: scale(2rem) ;
}

/* Reset Button */

.resetbutton button
{
    font-size: 3rem;
    color: rgb(4, 92, 39);
}