*
{
    margin: 0;
    padding: 0;
}
body 
{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
/* BODY STYLING STARTS */
.title h1
{
    justify-content: center;
    align-items: center;
    color: blue;
    align-content: center;
}
.image
{
    height: 100px;
    width: 100px;
    justify-content: center;
    align-items: center;
    object-fit: cover;
    position: absolute;
    right: 89%;

}