body
{  
    background-color: #7FD1B9;
    color: white;
    margin: 0;
    padding: 0;
   
}
h1{
    margin-top: 40px;
    text-align: center;
    margin-right: 45px;
}
.container
{   margin-top: 15vh;
    justify-content:center;
    height: 100%;
    width: 70vw;
    display: flex;
    margin-left: 13rem;
}
.ticktak
{  
    background-color: rgb(244, 3, 3);
    border-color: black;
    border-radius: 2rem;
    height: 60vmin;
    width: 60vmin;
    gap: 2vmin;
    display: flex;
     align-items: center;
    justify-content: center;
     flex-wrap: wrap;
    

}
.box
{
    background-color: yellow;
    color:  black;
    text-align: center;
    justify-content: center;
    font-weight: bolder;
    font-size: 110px;
    width: 18vmin;
    height: 18vmin;
    border: 5rem;
    border-radius: 2rem;
    box-shadow: 0 0 1rem rgba(0,0,0.5);

}
#back a
{
    text-decoration: dotted;
    margin-top: 500rem;
    justify-content: end;
}
#back h1{
    justify-content: end;
    margin-top: 23%;
    margin-right: 68px;
}
/* Winning Message Printing Container */

.msg-con
{   display: none;
    padding: 10px;
    width: 100px;
    height: 50px;
    margin-left: 45%;
    position: absolute;
    color: red;
    background-color: #519872;
    text-align: center;
    align-content: center;
    font-size: 1.7rem;

}


/* Reset Button Design */

#reset
{
    justify-content: center;
    align-items: end;
    background-color: #4F6D7A;
    align-content: end;
    margin-left: 45%;
    margin-top: 5vh;
    font-size: xx-large;
    border:5px solid black;
}
