*
{
    background-color: #0F172A;
    text-align: center;
    color: #CBD5E1;
    font-family: 'poppins',sans-serif;
    margin:0%;
}
/* /Head banner */
.topbanner h1
{  
     margin-top:30px;
    margin-bottom:30px;
    background-color: rgb(175, 81, 5);
    border: 2px;
    align-items: center;
    text-decoration: dotted;
    width: 100%;
    height: 50px;
    position:static;
    color:#F8FAFC;
}
/* MAin Body starts */
.profilepicture
{  margin-left: 0px;
    display: flex;
    width: 100%;
    min-height:50vh;
    background: linear-gradient(135deg, #2C5364, #203A43);
    background-color: white;
    font-family: sans-serif;
}
.profilepicture img
{   justify-content: center;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50%;
    border :4px dotted #e8181800 ;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.5);
    align-items: center;
    width: 100%;
    height:300px;
     position: relative;
    
}
.textside 
{   
    flex:1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* padding-right: 60px; */
}
.textside h1
{  
     /* margin-right: 600px; */
    padding-right: 250px;
}
/* Animating I am abhijeet gupta part */
#introtext
{
    animation: typing 3s steps(25,end) forwards , blink 0.7s step-end infinite;
}
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

@keyframes blink {
  50% { border-color: transparent; }
}
/* Animation Ends */
/* Designing the Box and icons */
.sociallinks h1{
    color: #38BDF8;
    margin-top: 40px;
    font-weight: 7rem;
    padding-left: 100px;
}
/* borderglow is used to make the border glow of social - handle icons */
@keyframes borderGlow {
  0% { box-shadow: 0 0 15px #38BDF8; }
  50% { box-shadow: 0 0 30px #38BDF8; }
  100% { box-shadow: 0 0 15px #38BDF8; }
}

.sociallinks_icons
{
    height: 15vh;
    width: 90vb;
    display: flex;
    justify-content: space-evenly;
    background-color: #0F172A;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 135px;
    border : 4px solid blue;
    border-radius: 25px;
    box-shadow: 0 0  20px rgba(56, 189, 248, 0.4);
    animation: borderGlow 4s infinite ease-in-out;
}
.sociallinks_icons :hover
{
    transform: scale(1.3);
    transition: 0.3s (ease);
    color: #F8FAFC;
  text-shadow: 0 0 10px #38BDF8, 0 0 20px #38BDF8;
}
#instaicon 
{
    margin: 30px;
    font-weight: 3rem;
    font-size:xx-large ;
}
#githubicon
{
    margin: 30px;
    font-weight: 3rem;
    font-size:xx-large ;
}
#linkedinicon
{
   margin: 30px;
    font-weight: 3rem;
    font-size:xx-large ; 
}
/* Three Coloumns Projects, skills , languages, starts */
.three-columns {
    display: flex;
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    justify-content: space-between;
    gap: 20px;
}

.column {
    flex: 1;
    background-color: rgba(255,255,255,0.05);
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    color: #CBD5E1;
}

/* vertical divider */
.column:not(:last-child) {
    border-right: 3px solid rgba(255,255,255,0.2);
}
