*
{
    background-color: #0F172A;
    text-align: center;
    color: #CBD5E1;
    font-family: 'poppins',sans-serif;
    margin:0%;
}
/* /Head banner */
.topbanner h1
{  
     margin-top:30px;
    margin-bottom:30px;
    background-color: rgb(175, 81, 5);
    border: 2px;
    align-items: center;
    text-decoration: dotted;
    width: 100%;
    height: 50px;
    position:static;
    color:#F8FAFC;
}
/* MAin Body starts */
.profilepicture
{  margin-left: 0px;
    display: flex;
    width: 100%;
    height:50vh;
    background: linear-gradient(135deg, #2C5364, #203A43);
    background-color: white;
    font-family: sans-serif;
}
.profilepicture img
{   justify-content: center;
    flex:1;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 50%;
    border :4px dotted #e8181800 ;
    box-shadow: 0 0 20px rgba(0, 191, 255, 0.5);
    align-items: center;
    width: 100%;
    height: 300px;
     position: relative;
    /* left: 500px; */
}
.textside
{   
    flex:1;
    left: 0%;
}
.sociallinks h1{
    color: #38BDF8;
    margin-top: 40px;
    font-weight: 7rem;
}
.sociallinks_icons
{
    height: 15vh;
    width: 90vb;
    display: flex;
    background-color: #0F172A;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 300px;
    border : 4px solid blue;
    border-radius: 25px;
    box-shadow: 0 0  20px rgba(56, 189, 248, 0.4);
}
.sociallinks_icons :hover
{
    transform: scale(1.3);
    transition: 0.3s (ease);
}